<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/speaker" method="post">
        <label for="name">Name:-</label><input type="text" name="name">
        <label for="desc">Description:-</label><input type="text" name="desc">
        <label for="date">Date:-</label><input type="date" name="date" id=""> 
        <label for="time">Time:-</label><input type="time" name="time" id="">
        <button type="submit">Add Speaker</button>
    </form>
</body>
</html>